/* цвет основного текста: #757575; */
/* вторичный цвет текста: #212121 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* цвет вторичного фона #2F303A; #E5E5E5; #F5F4F4 */
/* стили для index.html*/
:root {
  --primary-text-color--: #757575;
  --title-text-color--: #212121;
  --accent-color--: #2196f3;
  --four-text-color--: #ffffff;
  --last-text-color--: rgba(255, 255, 255, 0.6);
}
body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
}

.page-header {
  background-color: #ffffff;
}

.conteiner {
  width: 1230;
  padding-left: 15;
  padding-right: 15;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.logo {
  color: var(--accent-color--);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  /* identical to box height*/

  letter-spacing: 0.03em;
}
.Studio {
  color: var(--title-text-color--);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.logo :hover {
  color: var(--title-text-color--);
}
/* site-nav */

.site-nav a {
  display: inline-block;
  color: var(--title-text-color--);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color--);
}
/* contacts */
.contacts a {
  color: var(--primary-text-color--);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color--);
}
/* hero */
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--four-text-color--);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  letter-spacing: 0.06em;
}
.hero {
  background-color: #2f303a;
  text-align: center;
}
/* section */
.fiture-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color--);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color--);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
}

.section {
  background-color: #e5e5e5;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-one {
  background-color: #e5e5e5;
  padding-top: 0;
  padding-bottom: 94px;
}
.section-title-work {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color--);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.section-command {
  background-color: #f5f4f4;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  margin-top: 0;
  margin-bottom: 10;
  color: var(--title-text-color--);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.position {
  margin-top: 0;
  margin-bottom: 30;
  color: var(--primary-text-color--);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.03em;
}
/* button */
.button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  border: 1px solid transparent;

  color: var(--four-text-color--);
  background: var(--accent-color--);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  text-align: center;
  letter-spacing: 0.06em;
}
.button:hover .button:focus {
  color: #ffffff;
}

/* footer */
.footer {
  background-color: #2f303a;
}

.logo a {
  color: var(--accent-color--);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.Studio-one {
  color: var(--four-text-color--);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
}
.address {
  color: var(--four-text-color--);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;
}

.contacts-child a {
  color: var(--last-text-color--);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  /* or 171% */

  letter-spacing: 0.03em;
}

/* стил для portfolio.html */
:root {
  --primary-text-color--: #757575;
  --title-text-color--: #212121;
  --accent-color--: #2196f3;
  --four-text-color--: #ffffff;
  --last-text-color--: rgba(255, 255, 255, 0.6);
}
body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
}
.page-header {
  background-color: #ffffff;
}
.conteiner {
  width: 1230;
  padding-left: 15;
  padding-right: 15;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
}
.logo {
  color: var(--accent-color--);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height*/
  letter-spacing: 0.03em;
}

.Studio {
  color: var(--title-text-color--);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.logo :hover {
  color: #212121;
}
/* site-nav */

.site-nav a {
  color: var(--title-text-color--);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color--);
}
/* contacts */
.contacts a {
  color: var(--primary-text-color--);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color--);
}
.section {
  color: var(--title-text-color--);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  letter-spacing: 0.03em;
}
.conteiner {
  width: 1230;
  padding-left: 15;
  padding-right: 15;
  margin-left: auto;
  margin-right: auto;
}
.button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  border: 1px solid transparent;
  color: var(--four-text-color--);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
}
.heading {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color--);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}
.paragraph {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-text-color--);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
}
/* footer */
.footer {
  background-color: #2f303a;
}
.logo a {
  color: var(--accent-color--);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.Studio-one {
  color: var(--four-text-color--);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
}
.address {
  color: var(--four-text-color--);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
}
.contacts-child {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  text-decoration: none;
}
